In [5]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Create a Linear Regression object
linreg = LinearRegression()


marketingdata = pd.read_csv('marketing_campaign.csv')

In [6]:
marketingdata.head()
marketingdata.sample(n=10)

     ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
386   6720\t1968\tMaster\tTogether\t43795\t0\t1\t16-...
2093  7734\t1993\tGraduation\tAbsurd\t79244\t0\t0\t1...
1275  10319\t1971\tGraduation\tMarried\t66303\t0\t1\...
2001  10757\t1967\tPhD\tDivorced\t28420\t1\t0\t24-12...
618   8650\t1978\tGraduation\tWidow\t54162\t1\t1\t18...
100   1473\t1960\t2n Cycle\tSingle\t47823\t0\t1\t23-...
1213  697\t1969\tGraduation\tTogether\t74918\t0\t0\t...
1321  10377\t1958\tMaster\tTogether\t46692\t0\t1\t06...
1330  4832\t1979\tGraduation\tMarried\t27244\t1\t0\t...
45    1371\t1976\tGraduation\tSingle\t79941\t0\t0\t2...

In [7]:
marketingdata.head()

  ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1  2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4  5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...