In [6]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Create a Linear Regression object
linreg = LinearRegression()


marketingdata = pd.read_csv('marketing_campaign.csv')

In [7]:
marketingdata.head()
marketingdata.sample(n=10)

     ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
140   821\t1992\tMaster\tSingle\t92859\t0\t0\t19-10-...
2053  10509\t1955\tMaster\tSingle\t36927\t1\t1\t02-0...
487   5562\t1974\tGraduation\tMarried\t60093\t0\t1\t...
1772  8895\t1985\tGraduation\tSingle\t70596\t0\t0\t0...
51    4114\t1964\tMaster\tMarried\t79143\t0\t0\t11-0...
709   4301\t1971\tMaster\tMarried\t35178\t1\t0\t10-0...
1764  4328\t1986\t2n Cycle\tMarried\t21955\t1\t0\t07...
677   9937\t1979\tGraduation\tSingle\t70337\t0\t0\t0...
1703  1958\t1973\tPhD\tTogether\t55012\t0\t1\t21-03-...
418   4216\t1981\tGraduation\tSingle\t91065\t0\t0\t2...